@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
}

#login-user {
    display: flex;
    align-items: center;
}

.username {
    color: #fff;
}

.arrow {
    width: 14px;
    height: 14px;
    border: 2px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg);
    margin: 20px;
}

/* .nav-wrapper {
    display: none;
} */

.menu li {
    background-color: #fff;
    border: 1px solid #6C6C6C;
}

.menu li a {
    display: block;
    color: #6C6C6C;
}

.menu li a:hover {
    background-color: #ff6927;
    color: #fff;
}

.icon {
    border-radius: 50%;
    margin-right: 20px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

#confirm {
    border-bottom: 1px solid #969494;
}

.title {
    text-align: center;
}

.sb-block {
    display: flex;
    justify-content: space-between;
}

.sb-name {
    font-size: 14px;
    margin: 10px 10px 0 10px;
}

.sb-count {
    font-size: 14px;
    margin: 10px 10px 0 10px;
}

.sb-btn {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-button {
    display: inline-block;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    background-color: #3C4767;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    transition: 0.6s;
}

.list-button:hover {
    background-color: #fff;
    color: #3C4767;
    transition: 0.6s;
}

.search {
    justify-content: center;
    margin-top: 30px;
}

#post {
    border-bottom: 3px solid #969494;
    display: flex;
}

.form-icon {
    margin: 30px 20px;
}

.post-text {
    border: none;
    width: 80%;
    padding: 10px;
}

.send-btn {
    border: none;
    background: transparent;
    margin-right: 20px;
}

#posts {
    border-bottom: 1px solid #969494;
    display: flex;
}

.post-icon {}
