@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #3C4767;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
}

#accordion {
    display: flex;
    align-items: center;
}

.accordion-username {
    display: flex;
    position: relative;
    padding: 30px 70px 30px 0;
    color: #fff;
    cursor: pointer;
}

.accordion-username::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 38%;
    display: block;
    width: 14px;
    height: 14px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(135deg);
}

.accordion-username.add::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 38%;
    display: block;
    width: 14px;
    height: 14px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
}

.menu {
    display: none;
    position: absolute;
    top: 102px;
    right: 0;
    width: 20%;
    line-height: 75px;
    z-index: 1;
}

.menu li {
    background-color: #fff;
    border: 1px solid #6C6C6C;
    border-top: none;
}

.menu li a {
    display: block;
    color: #6C6C6C;
    text-align: center;
}

.menu li a:hover {
    background-color: #ff6927;
    color: #fff;
}

.icon {
    border-radius: 50%;
    margin-right: 20px;
    width: 55px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

#confirm {
    border-bottom: 1px solid #969494;
}

.title {
    text-align: center;
}

.sb-block {
    display: flex;
    justify-content: space-between;
}

.sb-name {
    font-size: 14px;
    margin: 10px 10px 0 10px;
}

.sb-count {
    font-size: 14px;
    margin: 10px 10px 0 10px;
}

.sb-btn {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-button {
    display: inline-block;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 130px;
    background-color: #3C4767;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    transition: 0.6s;
}

.list-button:hover {
    background-color: #fff;
    color: #3C4767;
    transition: 0.6s;
}

.search {
    justify-content: center;
    margin-top: 30px;
}

#post {
    border-bottom: 3px solid #969494;
    display: flex;
    background-color: #fff;
}

.form-icon {
    margin: 30px 20px;
}

.post-text {
    border: none;
    width: 80%;
    padding: 10px;
}

.send-btn {
    border: none;
    background: transparent;
    margin-right: 20px;
}

#post-container {
    border-bottom: 1px solid #969494;
    display: block;
    padding: 20px;
    padding-left: 40px;
    position: relative;
}

.user-block {
    display: flex;
}

.user-block-icon {
    flex-basis: 100px;
    border-radius: 50%;
}

.user-block-username {
    padding-top: 15px;
    flex-grow: 4;
    font-size: 14px;
}

.user-block-time {
    padding-top: 15px;
    font-size: 14px;
}

.post-block {
    margin-left: 75px;
    margin-bottom: 10px;
    display: block;
}

.btn-block {
    display: flex;
    justify-content: flex-end;
}

.modal-open {
    cursor: pointer;
    margin-right: 20px;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

#modal-container.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.modal-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    padding: 20px 40px;
    width: 50%;
    height: 180px;
    position: absolute;
    top: 120px;
    left: 120px;
    background-color: #fff;
}

.modal-text {
    margin: 0 auto;
    width: 90%;
    height: 100px;
    text-align: left;
}

.modal-btn {
    cursor: pointer;
    border: none;
    position: absolute;
    right: 60px;
    bottom: 20px;
}

#list-container {
    border-bottom: 3px solid #969494;
    background-color: #fff;
    padding: 20px 40px;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.list-icon {
    border-radius: 50%;
}

#users-profile-container {
    border-bottom: 3px solid #969494;
    padding: 20px 40px;
    display: flex;
    position: relative;
}

.users-profile-icon {
    margin-left: 20px;
}

.users-profile-block1 {
    display: block;
    padding-left: 20px;
    line-height: 50px;
}

.users-profile-block2 {
    display: block;
    padding-left: 40px;
    line-height: 50px;
}

.unfollow-button {
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    background-color: #a5322f;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.follow-button {
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    background-color: #3788d3;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

#search-container {
    border-bottom: 3px solid #969494;
    padding: 20px 40px;
}

.search-form {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #6f6d6d;
}

.search-button {
    height: 30px;
    width: auto;
}

.search-commit {
    display: flex;
    align-items: center;
    margin: 20px 40px;
}

.search-name {
    flex-basis: 60%;
}

.search-unfollow-button {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    background-color: #a5322f;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.search-follow-button {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
    background-color: #3788d3;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

#posts-profile-container {
    margin: 20px 40px;
    display: flex;
    justify-content: start;
}

.posts-profile-icon {
    display: inline;
}

.posts-profile-block {
    display: block;
    margin-left: 20px;
}

.posts-profile-form {
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
}

.posts-profile-text {
    position: absolute;
    left: 200px;
    border: none;
    border-bottom: 2px solid #6f6d6d;
    background-color: #dedede;
    width: 200px;
    height: 20px;
    overflow-wrap: normal;
}

.posts-profile-text-img {
    position: absolute;
    left: 200px;
    border: none;
    border-bottom: 2px solid #6f6d6d;
    background-color: #dedede;
    width: 200px;
    height: 20px;
    overflow-wrap: normal;
    padding: 40px;
}

.posts-profile-button-block {
    padding-top: 120px;
    margin-bottom: 40px;
}

.posts-profile-button {
    padding: 10px 40px;
    border: none;
    background-color: #679e60;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 300px;
}
